{% extends "patient/card/card_base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">{{ "Test"|xlt }}</div>
        <div class="col">value</div>
    </div>
</div>
{% endblock %}
